.contact-us {
  background-color: #f7f8fa;
  /* display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); */
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
}

.contact-us-box {
  width: 50%;
  padding: 0 60px 0 120px;
}

.contact-us-box h1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2px;
}
.contact-us-box p {
  font-size: 12px;
}
.contact-us-image {
  padding-top: 20px;
  width: 50%;
}

.contact-us-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
}
.contact-us-form input {
  margin-top: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.contact-us-form textarea {
  grid-column: span 2;
  margin-top: 10px;
  padding: 20px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
.contact-us-form button {
  padding: 20px 10px;
  width: 70%;
  border-radius: 10px;
  font-size: medium;
  color: white;
  background-color: #1ac073;
  border: none;
}
